# ==================================
#  Opsie Environment Configuration
# ==================================

OPENAI_MODEL=openai/gpt-4o-mini     # or gemini/gemini-2.5-flash

OPENAI_API_KEY=sk-proj-...

GEMINI_API_KEY=AIzaSy...

DISCORD_BOT_TOKEN=MTIy...
